bottle==0.12.9
bottle-utils==0.7
chainable-validators==0.8.2
cssmin==0.2.0
GeoIP==1.3.2
gevent==1.0.1
Mako==1.0.1
pbkdf2==1.3
psycopg2==2.6.1
python-dateutil==2.4.2
python-memcached==1.54
pytz==2015.2
webassets==0.10.1
librarian_core==1.1
