.status {
  max-width: 760px;
  .report-section {
    margin-bottom: 2em;
  }
  table {
    th, td {
      text-align: center;
    }
    th:first-child, td:first-child {
      text-align: left;
    }
  }
  .health {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    @include border-radius(50%);

    &.good {
      background-color: $forest;
    }
    &.bad {
      background-color: $fire;
    }
    &.warning {
      background-color: $sun;
    }
    &.neutral {
      background-color: $iconic;
    }
  }
}
